@model PlataformaCreditos.Models.SolicitudCredito

<h2 class="mb-3">Detalle</h2>

<p><b>Monto:</b> S/ @Model.MontoSolicitado</p>
<p><b>Fecha:</b> @Model.FechaSolicitud</p>

<p>
    <b>Estado:</b>

    @if (Model.Estado == "Pendiente")
    {
        <span class="badge bg-warning text-dark">Pendiente</span>
    }
    else if (Model.Estado == "Aprobado")
    {
        <span class="badge bg-success">Aprobado</span>
    }
    else
    {
        <span class="badge bg-danger">Rechazado</span>
    }
</p>

@if (Model.MotivoRechazo != null)
{
    <div class="alert alert-danger">
        <b>Motivo:</b> @Model.MotivoRechazo
    </div>
}

<a href="/Solicitudes" class="btn btn-secondary mt-3">
    Volver
</a>